@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600&display=swap');

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
    background-color: rgb(7,28,56);
    box-sizing: border-box;
}

h1 {
    font-size: 10rem;
    font-weight: 600;
}