/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600&display=swap'); */

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
    background-color: rgb(9, 24, 43);
    box-sizing: border-box;
    font-size: 1rem;
}